<button class="btn waves-effect waves-light" type="submit" name="action">Cadastrar
    <i class="material-icons right">send</i>
  </button>
  
  <button class="btn waves-effect waves-light #eceff1 blue-grey lighten-5 black-text" type="reset" >Limpar
    <i class="material-icons right">send</i>
  </button>