
</main>

<script>
    
    document.addEventListener('DOMContentLoaded', function(){
    // nav Menu
    const menus = document.querySelectorAll('.slide-out')
    M.Sidenav.init(menus, {edge:'left'})
    // nav recipe form
    const forms = document.querySelectorAll('.side-form')
    M.Sidenav.init(forms, {edge:'left'})
})

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
     M.Dropdown.init(elems,{coverTrigger:false, alignment:'right'});
  });

  /* const tbl = document.querySelector('table')
  tbl.addEventListener('click', e => {
      console.log(e.target.parentElement.parentElement)
  }) */
</script>
<!-- 
<script>
    const navLinks = document.querySelector('.nav-links')
    const subMenu = document.querySelector('.sub-menu')
    const touggleMenu = document.querySelector('.touggle-menu')
    const sidebar = document.querySelector('.sidebar')
    const mainContainer = document.querySelector('.main-container')
    const pesquisa = document.querySelector('#pesquisa')
    const displayList = document.querySelector('.display-list')
    

    navLinks.addEventListener('click', e => {
        if (e.target.classList.length>0){
            if(e.target.classList.contains('arrow')){
                e.target.parentElement.nextElementSibling.classList.toggle('hide')
            }
        }else{
            console.log('Drop')
        }
    })

    touggleMenu.addEventListener('click', (e) => {
        
        if (sidebar.classList.contains('hide')){
            mainContainer.style.left = '260px'
            mainContainer.style.width = 'calc(100% - 260px)'
        }else{
            mainContainer.style.left = '0px'
            mainContainer.style.width = '100%'
        }
        sidebar.classList.toggle('hide')
    })

    pesquisa.addEventListener('keyup', (e) => {
        const searchText = e.target.value

        filterList(searchText)
    }) 

    const filterList = (term) =>{
       
       Array.from(displayList.children)
       .filter(filtered =>  !filtered.textContent.toLocaleLowerCase().includes(term))
       .forEach(filtered=> filtered.setAttribute('class','hide'))

       Array.from(displayList.children)
       .filter(filtered =>  filtered.textContent.toLocaleLowerCase().includes(term))
       
}
</script> -->