</div>
</main>
</section>
<script>
    const navLinks = document.querySelector('.nav-links')
    const subMenu = document.querySelector('.sub-menu')
    const touggleMenu = document.querySelector('.touggle-menu')
    const sidebar = document.querySelector('.sidebar')
    const mainContainer = document.querySelector('.main-container')
    const pesquisa = document.querySelector('#pesquisa')
    const displayList = document.querySelector('.display-list')
    

    navLinks.addEventListener('click', e => {
        if (e.target.classList.length>0){
            if(e.target.classList.contains('arrow')){
                e.target.parentElement.nextElementSibling.classList.toggle('hide')
            }
        }else{
            console.log('Drop')
        }
    })

    touggleMenu.addEventListener('click', (e) => {
        
        if (sidebar.classList.contains('hide')){
            mainContainer.style.left = '260px'
            mainContainer.style.width = 'calc(100% - 260px)'
        }else{
            mainContainer.style.left = '0px'
            mainContainer.style.width = '100%'
        }
        sidebar.classList.toggle('hide')
    })

    pesquisa.addEventListener('keyup', (e) => {
        const searchText = e.target.value

        filterList(searchText)
    }) 

    const filterList = (term) =>{
       
       Array.from(displayList.children)
       .filter(filtered =>  !filtered.textContent.toLocaleLowerCase().includes(term))
       .forEach(filtered=> filtered.setAttribute('class','hide'))

       Array.from(displayList.children)
       .filter(filtered =>  filtered.textContent.toLocaleLowerCase().includes(term))
       
}
</script>