
</main>

<script>
    
    document.addEventListener('DOMContentLoaded', function(){
    // nav Menu
    const menus = document.querySelectorAll('.slide-out')
    M.Sidenav.init(menus, {edge:'left'})
    // nav recipe form
    const forms = document.querySelectorAll('.side-form')
    M.Sidenav.init(forms, {edge:'left'})
})

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    M.FormSelect.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
     M.Dropdown.init(elems,{coverTrigger:false, alignment:'right'});
  });


const pesquisar = document.querySelector('.pesquisar')
const collection = document.querySelector('.collection')
pesquisar.addEventListener('keyup', e =>{
        
    fetch('http://localhost:3000/productoservico/autocomplete/' + e.target.value).then(response=>{
        return response.json() 
    }).then(data=>{
        console.log(data)
        data.forEach(d => {
            collection.innerHTML += `<li class="collection-item"><div>${d.productoServico}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>`
        })
        
    }).catch(error=>{
        console.log(error)
    })
})
</script>
