<!-- <section class="main-container ">
  <header class="main-header">
    <i class="bx bx-menu touggle-menu"></i>
  </header>
  <main class="main-content container">
    <div class="card"> -->
      <nav class="z-depth-0">
        <div class="nav-wrapper container">
          <a href="#">Barbearia <span>Mwangolé</span></a>
          <span class="right ">
            <i class="material-icons sidenav-trigger" data-target="slide-out">menu</i>
          </span>
        </div>
      </nav>
      <main class="container">