<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Finalizar Pagamento</h4>
      <select name="tipoPagamento" id="tipoPagamento">
        <option value="" disabled selected>Selecine o tipo de pagamento</option>
        <option value="Prazo">A Prazo</option>
        <option value="Vista">A Vista</option>
      </select>
      <input type="number" name="parcela" id="parcela">
      <input type="number" name="valorPago" id="valorPago">
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>