<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus"></i>
    <span class="logo-name">Code With Maro</span>
  </div>

  <ul class="nav-links">
    <li>
      <a href="#">
        <i class="bx bx-user"></i>
        <span class="link-name">Perfil</span>
      </a>
    </li>

    <li>
      <div class="icon-link">
        <a href="/categorias/new">
          <i class="bx bx-collection"></i>
          <span class="link-name">Categorias</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu hide">
        <li><a href="/categorias/new">Cadastrar</li>
        <li><a href="/categorias">Consultar</a></li>
      </ul>
    </li>

    <li>
      <div class="icon-link">
        <a href="/clientes/new">
          <i class="bx bxs-face"></i>
          <span class="link-name">Clientes</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu hide">
        <li><a href="/clientes/new">Cadastrar</a></li>
        <li><a href="/clientes">Consultar</a></li>
      </ul>
    </li>

    <li>
      <div class="icon-link">
        <a href="/staff/new">
          <i class="bx bx-group"></i>
          <span class="link-name">Staff</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu hide">
        <li><a href="/staff/new">Cadastrar</a></li>
        <li><a href="/staff">Consultar</a></li>
      </ul>
    </li>

    <li>
      <a href="#">
        <i class="bx bx-history"></i>
        <span class="link-name">Histórico</span>
      </a>
    </li>

    <li>
      <a href="#">
        <i class="bx bx-book"></i>
        <span class="link-name">Agendas</span>
      </a>
    </li>

    <li>
      <div class="icon-link">
        <a href="/marcacoes/new">
          <i class='bx bx-credit-card'></i>
          <span class="link-name">Marcações</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu hide">
        <li><a href="/marcacoes/new">Nova</a></li>
        <li><a href="/marcacoes">Consultar</a></li>
      </ul>
    </li>

    <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-credit-card'></i>
          <span class="link-name">Comendas</span>
        </a>
        <i class="bx bxs-chevron-down arrow"></i>
      </div>
      <ul class="sub-menu hide">
        <li><a href="#">Nova</a></li>
        <li><a href="#">Consultar</a></li>
      </ul>
    </li>
  </ul>
</div>





<!-- 
<section class="menu">
  <h2 class="menu-titla">Menu</h2>
  <ul class="menu-list">
    <li class="active-menu-list"><a href="" data-link-1="">Perfil</a></li>
    <li><a href="" data-link-1="">Histórico</a></li>
    <li>
      <a href="/categorias/new" data-link-1="">Categorias</a><br>
      <a href="/categorias" data-link-1="">Listar Categorias</a>
    </li>
    <li><a href="/productoservico/new" data-link-1="">Serviços</a></li><br>
    <li><a href="/productoservico/new" data-link-1="">Productos</a></li>
    <li>
      <a href="/staff/new" data-link-1="">Staff</a><br>
      <a href="/staff" data-link-1="">Listar Staff</a>
    </li>
    <li>
      <a href="/clientes/new" data-link-1="">Clientes</a><br>
      <a href="/clientes" data-link-1="">Lista Clientes</a>
    </li>
    <li>
      <a href="/marcacoes/new" data-link-1="">Marcações</a><br>
      <a href="/marcacoes" data-link-1="">Listar Marcações</a>
    </li>
  </ul>
  <button class="menu-btn">Sair</button>
</section> -->