<section class="menu">
  <nav class="menu-itens">
    <a href="#"
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Perfil</a
    >
    <a href=""
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Histórico</a
    >
    <a href="/categorias"
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Categorias</a
    >
    <a href="/productoservico"
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Productos</a
    >
    <a href="/productoservico"
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Serviços</a
    >
    <a href=""
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Marcações</a
    >
    <a href="/staff"
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Staff</a
    >
    <a href=""
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Comendas</a
    >
    <a href=""
      ><i class="material-icons" style="margin-right: 9px"
        >account_circle</i
      >Sair</a
    >
  </nav>
</section>