<section class="menu">
  <h2 class="menu-titla">Menu</h2>
  <ul class="menu-list">
    <li class="active-menu-list"><a href="" data-link-1="">Perfil</a></li>
    <li><a href="" data-link-1="">Histórico</a></li>
    <li>
      <a href="/categorias/new" data-link-1="">Categorias</a><br>
      <a href="/categorias" data-link-1="">Listar Categorias</a>
    </li>
    <li><a href="/productoservico/new" data-link-1="">Serviços</a></li><br>
    <li><a href="/productoservico/new" data-link-1="">Productos</a></li>
    <li>
      <a href="/staff/new" data-link-1="">Staff</a><br>
      <a href="/staff" data-link-1="">Listar Staff</a>
    </li>
    <li>
      <a href="/clientes/new" data-link-1="">Clientes</a><br>
      <a href="/clientes" data-link-1="">Lista Clientes</a>
    </li>
    <li>
      <a href="/marcacoes/new" data-link-1="">Marcações</a><br>
      <a href="/marcacoes" data-link-1="">Listar Marcações</a>
    </li>
  </ul>
  <button class="menu-btn">Sair</button>
</section>