<section class="menu-container">
  <nav class="menu">
    <div class="menu-logo svg">
      <i class="fi fi-rr-list" style="color: black"></i>
    </div>
    <!-- Lista Menu -->
    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-user"></i></div>
      <div class="menu-link"><a href="" data-link-1="">Perfil</a></div>
    </div>

    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-history"></i></div>
      <div class="menu-link"><a href="" data-link-1="">Histórico</a></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-user"></i></div>
      <div class="menu-link">
        <a href="/categorias/new" data-link-1="">Categorias</a>
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-user"></i></div>
      <div class="menu-link"><a href="/productoservico/new" data-link-1="">Serviços</a></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-user"></i></div>
      <div class="menu-link"><a href="/productoservico/new" data-link-1="">Productos</a></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-user"></i></div> 
      <div class="menu-link"><a href="/staff/new" data-link-1="">Staff</a></div>
    </div>
    <div class="menu-item">
      <div class="menu-icon svg"><i class="fa fa-user"></i></div>
      <div class="menu-link"><a href="/marcacoes/new" data-link-1="">Marcações</a></div>
      <div class="menu-sub-item" style="display: none">
        <ul>
          <li><a href="">Novo</a></li>
          <li><a href="">Ver</a></li>
        </ul>
      </div>
    </div>
  </nav>
</section>