<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mystyle.css">
    <title>Document</title>
</head>
<body>
    <form class="form-container" action="/productoservico" method="post">
        <div class="head">
            <h1>Cadastro de Productos e Serviços</h1>
        </div>
        <div class="container">
            <label for="categoria">Categoria</label>
            <select name="categoria" id="categoria" required>
                <% if (categorias.length > 0){%>
                    <option value="0" disabled>Selecione a Categoria</option>
                    <% categorias.forEach(categoria=>{ %>
                    <option value="<%=categoria._id %>"><%= categoria.categoria %></option>
                    <% }) %>
                <% } else { %>
                    <option value="0" disabled>Sem Categorias disponíveis</option>
                <% } %>
            </select>
            <label for="productoServico">Producto / Serviço</label>
            <input type="text" id="productoServico" name="productoServico" required>
            <label for="descricao">Descrição</label>
            <input type="text" id="descricao" name="descricao">
            <label for="quantidade">Quantidade</label>
            <input type="number" id="quantidade" name="quantidade" min="1">
            <label for="valorCompra">Valor de Compra</label>
            <input type="number" id="valorCompra" name="valorCompra" step="0.01">
            <label for="desconto">Desconto</label>
            <input type="number" id="desconto" name="desconto" step="0.01">
            <label for="iva">IVA</label>
            <input type="number" id="iva" name="iva" step="0.01">
            <label for="taxaLucro">Taxa de Lucro</label>
            <input type="number" id="taxaLucro" name="taxaLucro" step="0.01">
            <label for="valorVenda">Valor de Venda</label>
            <input type="number" id="valorVenda" name="valorVenda" step="0.01" required>
        <button>Cadastrar</button>
        </div>
    </form>
</body>
</html>