<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/mystyle.css">
    <title>Document</title>
</head>
<body>

    <form class="form-container" action="/contas" method="post">
        <div class="head">
            <h1>Fomulário de Cadastro</h1>
        </div>
        <div class="image-container" style="display: flex; justify-content: center; margin-top: 15px;">
            <img src="/vector-g60ff9bea0_640.png" alt="Avatar" class="avatar" width="150" height="200">
        </div>
    
        <div class="container">
          <label for="nome">Nome Completo</label>
          <input type="text" placeholder="Digite seu nome..." name="nome" id="nome" required>

          <label for="telefone">Telefone</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>

          <label for="email">E-mail</label>
          <input type="text" placeholder="Digite seu e-mail..." name="email" id="email" required>
    
          <label for="senha">Senha</label>
          <input type="password" placeholder="Digite sua senha..." name="senha" id="senha" required>

          <label for="confirma">Confirmar</label>
          <input type="password" placeholder="Confirme sua senha..." name="confirma" id="confirma" required>
          Mais Informaçoes  
          <hr>
          <h3>Informação Pessoal</h3>
          <label for="telefone">BI</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Genero</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Nascimento</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Função</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>  
          <label for="telefone">Imagem</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>  
        <h3>Contactos</h3>
        <label for="telefone">Telefone Adicional</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>

          <label for="email">E-mail Alternativo</label>
          <input type="text" placeholder="Digite seu e-mail..." name="email" id="email" required>
          <h3>Endereço</h3>
          <label for="telefone">Endereço</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Cidade</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Bairro</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <h3>Definição da Agenda</h3>
          <label for="telefone">Domingo</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Segunda</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Terça</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Quarta</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Quinta</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Sexta</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Sabado</label>
          <input type="checkbox" name="" id="">
          <label for="telefone">Hora de Início</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <label for="telefone">Hora de Fim</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>
          <button type="submit">Cadastrar</button>
          
        </div>
    
        <div class="container" style="display: flex; justify-content: center;">
          <span class="psw"><a href="/">Já possuo uma contas</a></span>
        </div>
      </form>
</body>
</html>