<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/mystyle.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="grid-container">
      <%- include('../partials/head.ejs') %> <%-
      include('../partials/sidebar.ejs') %>
      <main class="main">
        <form class="form-container" action="/staff" method="post">
          <div
            class="image-container"
            style="display: flex; justify-content: center; margin-top: 15px"
          >
            <img
              src="/vector-g60ff9bea0_640.png"
              alt="Avatar"
              class="avatar"
              width="150"
              height="200"
            />
          </div>

          <div class="container">
            <label for="nome">Nome Completo</label>
            <input
              type="text"
              placeholder="Digite seu nome..."
              name="nome"
              id="nome"
              required
            />

            <label for="telefone">Telefone</label>
            <input
              type="text"
              placeholder="Digite seu telefone."
              name="telefone"
              id="telefone"
              required
            />

            <label for="email">E-mail</label>
            <input
              type="text"
              placeholder="Digite seu e-mail..."
              name="email"
              id="email"
              required
            />

            <label for="senha">Senha</label>
            <input
              type="password"
              placeholder="Digite sua senha..."
              name="senha"
              id="senha"
              required
            />

            <label for="confirma">Confirmar</label>
            <input
              type="password"
              placeholder="Confirme sua senha..."
              name="confirma"
              id="confirma"
              required
            />
            Mais Informaçoes
            <hr />
            <h3>Informação Pessoal</h3>
            <label for="bi">BI</label>
            <input
              type="text"
              placeholder="Digite o B.I"
              name="bi"
              id="bi"
              required
            />
            <label for="genero">Gênero</label>
            <select name="genero" id="genero">
              <option value="0" disabled>Selecione o Gênero</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
            </select>
            <label for="nascimento">Nascimento</label>
            <input type="date" name="nascimento" id="nascimento" required />
            <label for="funcao">Função</label>
            <input
              type="text"
              placeholder="Digite a Função."
              name="funcao"
              id="funcao"
              required
            />
            <label for="imagem">Imagem</label>
            <input
              type="text"
              placeholder="Selecione a Imagem."
              name="imagem"
              id="imagem"
            />
            <!-- <h3>Contactos</h3>
        <label for="telefone">Telefone Adicional</label>
          <input type="text" placeholder="Digite seu telefone." name="telefone" id="telefone" required>

          <label for="email">E-mail Alternativo</label>
          <input type="text" placeholder="Digite seu e-mail..." name="email" id="email" required> -->
            <h3>Endereço</h3>
            <label for="endereco">Endereço</label>
            <input
              type="text"
              placeholder="Digite seu telefone."
              name="endereco"
              id="endereco"
            />
            <label for="cidade">Cidade</label>
            <input
              type="text"
              placeholder="Digite seu telefone."
              name="cidade"
              id="cidade"
            />
            <label for="bairro">Bairro</label>
            <input
              type="text"
              placeholder="Digite seu telefone."
              name="bairro"
              id="bairro"
            />
            <input type="hidden" name="staff" id="staff" value="true" />
            <button type="submit">Cadastrar</button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
